.custom-tree-select {

}

.ant-select-tree-switcher {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ant-select-tree-iconEle {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.ant-select-tree-node-content-wrapper {
  display: flex;
}