.ant-select-selection-item-remove {
  display: flex !important;
  align-items: center;
}

.ant-table-header {
  thead.ant-table-thead {
    th {
      border-color: rgba(207, 198, 198, 0.55);
      text-align: center;
    }
  }
}