.ant-tree-switcher {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-tree-node-content-wrapper {
  display: flex;
  //justify-content: center;
  align-items: center;
}

.ant-tree-icon__customize {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.ant-tree-title {
  white-space: nowrap;
}